<!DOCTYPE html>
<html>

<% include ../includes/head.ejs %>
<body id="dashboard">
<main ng-controller="mc" ng-app="form">
    <% include ../includes/header.ejs %>
    <nav class="secondary-navbar">
        <div class="nav-wrapper">
            <ul class="tabs">
                <li class="tab col s3"><a id="dash" class="active" href="#test1">DASHBOARD</a></li>
                <li class="tab col s3"><a class="active"  href="#test2">VACANCIES</a></li>
                <li class="tab col s3"><a href="#test3">FAQ</a></li>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="notifications">
                            <i class="fa fa-bell" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li><a href="/admin">
                      <i class="fa fa-sign-out"></i>Logout
                    </a></li>
                </ul>

            </ul>
        </div>
    </nav>
    <br><br>
    <div id="test1" class="vacancy container">
        <center><div class="section">Dashboard</div></center>
    </div>
    <div id="test2" class="vacancy container">
        <div class="section">
            <div class="card table-title"><p>VACANCIES</p><a href="#formModal" rel="modal:open"><button class="btn waves-effect waves-default blue darken-3">New<span id="addBtn"class="addBtn"><i class="fa fa-plus"></i></span></button></a>
          <!--jquery modal-->
          <div id="formModal" class="modal">
          <form name="modalForm" ng-submit="modalForm.$valid" novalidate>
          <p>Add Information About New Vacancy</p>
          <input id="title" name="title" ng-model="title" type="text" placeholder="Vacancy Title" required="true">
          <input  id="description" type="text" ng-model="description" placeholder="Description" required="true">
          <p>Start Date: <input type="text" id="endDatepicker"></p>
          <p>End Date: <input type="text" id="startDatepicker"></p>
          <input id="status" name="status" type="text" ng-model="status" placeholder="Vacancy Status" required="true"><!--This needs to be a drop down-->
          <a href="#"><button ng-click="addVacancy()" class="btn-flat modal-action modal-close waves-effect waves-default" rel="modal:close">Add<a/></button><a href="#"><button class="btn-flat modal-action modal-close waves-effect waves-default" rel="modal:close">Cancel</button><a/>
          </form>
          </div>
        </div>

            <table class="card responsive-table bordered centered">
                <thead>

                </thead>
                <tbody>
                  <tr ng-repeat="rowContent in rows">
                    <td>{{rowContent}}</td><!--<span id="removeBtn"class="removeBtn"><i class="fa fa-trash"></i></span>-->
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<br><br>
<% include ../includes/footer.ejs %>

</body>
</html>
<script>
//function to add new vacancy
//function to add new vacancy
angular.module('form', [])
.controller('mc', [ '$scope', function($scope) {
  $scope.rows = [];

  $scope.counter = 1;

  $scope.addVacancy = function() {
    $scope.rows.push( $scope.counter +" "+ $scope.title);
    $scope.counter++;
  }
}]);

</script>
<style>
    .info ul:before {
        content: "";
        position: absolute;
        left: 0.9em;
        width: 3px;
        height: calc(100% - 80px);
        background: #c0392b;
    }

    .info ul li{
        margin-left:4em;
        margin-bottom: 2em;
    }

    .info ul .time:before{
        content: "";
        position: absolute;
        left: 0.5em;
        width: 1em;
        height: 1em;
        background: crimson;
        border-radius: 100%;
    }

    .info .row {
        margin-left: 0;
        margin-right: 0;
    }

    .info .card .row.border-top {
        border-top: 0.1em solid #e7eaf1;
    }

    .info .row .col.m3 {
        background: #f4f6f9;
        border-right: 0.1em solid #e7eaf1;
    }

    .info input[type=text] {
        background-color: #f3f3f5;
        text-indent: 1em;
        border-bottom: 0;
    }

    .info input[type=text].valid {
        border-bottom: 1px solid #4CAF50;
        box-shadow: 0 1px 0 0 #4CAF50;
    }

    .info ::-webkit-input-placeholder {
        color: #26a69a;
    }

    .info :-moz-placeholder {
        color: #26a69a;
    }

    .info ::-moz-placeholder {
        color: #26a69a;
    }

    .info :-ms-input-placeholder {
        color: #26a69a;
    }
    .addBtn{
      padding: 5px;
    }
</style>
