<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container center">

            <p class="footer-disclaimer center">
                The Recruitment Portal, Designed and Developed
                by the Software Development Cell, University School of Information, Communication &amp; Technology (USICT).
              Suggestions/Discrepancies (if any) mail at :- rahul@ipu.ac.in</p>

        </div>
    </div>
</footer>

<link rel="stylesheet" href="/stylesheets/partials/footer.css">