<header>
    <nav>
        <div class="nav-wrapper">
            <img class="left logo-img" height="100" style="position: relative !important;z-index: 10;" src="/images/logomain.png" >

            <a href="/" class="brand-logo center main-title">GURU GOBIND SINGH INDRAPRASTHA UNIVERSITY</a>
        </div>
    </nav>

    <nav>
        <div class="nav-wrapper sub-nav">
            <a href="#" class="brand-logo center sub-title">RECRUITMENT PORTAL</a>
        </div>
    </nav>
</header>

<link rel="stylesheet" href="/stylesheets/partials/head.css">
