<style type="text/css">
@media only screen and (max-width: 480px) {
  table {
    display: block !important;
    width: 100% !important;
  }

  td {
    width: 480px !important;
  }
}
</style>
<body style="font-family: 'Malgun Gothic', Arial, sans-serif; margin: 0; padding: 0; width: 100%; -webkit-text-size-adjust: none; -webkit-font-smoothing: antialiased;">
  <table width="100%" bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" id="background" style="height: 100% !important; margin: 0; padding: 0; width: 100% !important;">
    <tr>
      <td align="center" valign="top">
        <table width="600" border="0" bgcolor="#041E54" cellspacing="0" cellpadding="20" id="preheader">
          <tr>
            <td valign="top">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td valign="top" width="100%">
                    <div class="logo">
                      <a href="http://ipu.ac.in" style="color: #041E54; font-size: 18px; font-weight: bold; text-align: left; text-decoration: none;">
                      <center><img src="http://www.ipu.ac.in/style/head_foot_img/220px-Guru_Gobind_Singh_Indraprastha_University12.png" alt="GGSIPU" align="middle"></center>  </a>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <!-- // END #preheader -->

        <table width="600" border="0" bgcolor="#041E54" cellspacing="0" cellpadding="0" id="header_container">
          <tr>
            <td align="center" valign="top">
              <table width="100%" border="0" bgcolor="#041E54" cellspacing="0" cellpadding="0" id="header">
                <tr>
                  <td valign="top" class="header_content">
                    <h1 style="color: #F4F4F4; font-size: 24px; text-align: center;">GGSIPU Jobs Portal</h1>
                  </td>
                </tr>
              </table>
              <!-- // END #header -->
            </td>
          </tr>
        </table>
        <!-- // END #header_container -->

        <table width="600" border="0" bgcolor="grey" cellspacing="0" cellpadding="20" id="body_container">
          <tr>
            <td align="center" valign="top" class="body_content">
              <table width="100%" border="0" cellspacing="0" cellpadding="20">
                <tr>
                  <td valign="top">
                    <h4 style="color: #FFFFFF;  text-align: left;">Dear <%= site.name %>,</h4>
                    <p style="color: #FFFFFF; line-height: 22px; text-align: center;">
                      Dr./Mr./Ms. <%= site.name %> has applied for the post
                      of <%= site.post %>, in the <%= site.school %> of Guru Gobind Singh Indraprastha University.

                    </p>
                  </td>
                </tr>
            </table>
          </td>
        </tr>
      </table>
      <!-- // END #body_container -->
      <table width="600" border="0" bgcolor="#F2F2F2" cellspacing="0" cellpadding="20" id="body_item_container">
        <tr>
          <td align="center" valign="top" class="body_item_content">
            <table width="100%" border="0" cellspacing="0" cellpadding="20" style="border: 1px solid black;">
              <tr>
                <td>Registration No.</td>
                <td>Post</td>
                <td>College</td>
                <td>Department</td>
             </tr>
             <tr>
               <td><%= site.reg %></td>
               <td><%= site.post %></td>
               <td><%= site.school %></td>
               <td><%= site.department %></td>
            </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              Your application is received successfully.
            </p>
          </td>
        </tr>
      </table>

      <table width="600" border="0" bgcolor="#2B5C6B" cellspacing="0" cellpadding="10" id="contact_container">
        <tr>
          <td align="center" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="20" id="contact">

              <tr>
                <td>
                  <p style="color: #F4F4F4; font-size: 14px; line-height: 22px; text-align: center;">
                    DISCLAIMER: THIS IS AN AUTOGENERATED MAIL, THEREFORE, PLEASE DO NOT REPLY TO THIS MAIL.
                  </p>
                </td>
              </tr>
            </table>
            <!-- // END #contact -->
          </td>
        </tr>
      </table>
      <!-- // END #contact_container -->
    </td>
  </tr>
</table>
<!-- // END #background -->
</body>
