
<form id        =  "uploadForm"
     enctype   =  "multipart/form-data"
     ng-submit = "uploadData()"
     method    =  "post"
>


<br>
<div class="row">
    <div ng-if="!!uploaded.photo.path"  class="col s6">
        <h6 class="uppercase">{{ uploaded.photo.fieldname.toUpperCase() }}</h6><br>

        <input type="file" file-model="upload.photo"  /><br><br>
        <button type="submit" style="margin-top: 0.4em" class="btn waves-effect no-borders">
            UPLOAD
        </button><br><br>
        <img class="responsive-img"  ng-src="{{uploaded.photo.path.substr(7)}}">
    </div>
    <div ng-if="!!uploaded.signature.path" class="col s6">
        <h6 class="uppercase">{{ uploaded.signature.fieldname.toUpperCase() }}</h6> <br>

        <input type="file" file-model="upload.signature"  /><br><br>
        <button type="submit" style="margin-top: 0.4em" class="btn waves-effect no-borders">
            UPLOAD
        </button><br><br>
        <img class="responsive-img" ng-src="{{uploaded.signature.path.substr(7)}}">
    </div>

</div>
</form>